@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

$primary: #ff9900;
$secondary: #2c1037;

html {
    font-family: 'Karla', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dataTable {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;

    th, td {
        border: 1px solid lightgray;
        padding: 5px;
    }

    th {
        position: sticky;
        top: 0;
        background-color: $secondary;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f1f1f1;
    }
}

.selector {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 50px;
    overflow: hidden;

    .selectorOption {
        border: none;
        border-radius: 0;
        background-color: white;
        padding: 10px 20px;
        border-right: 1px solid black;

        &:hover {
            background-color: $primary;
            cursor: pointer;
        }
    }

    .selectorOption:last-child {
        border-right: none;
    }

    .selected {
        background-color: $primary;
    }
}
